%table.table
  %thead.thead-light
    %tr
      %th Passenger
      %th Status
      %th Action
  %tbody
    - @carpool.carpool_passengers.each do |p|
      %tr
        %td= link_to p.user.name, profile_path(p.user)
        %td= p.status.titleize
        %td
          - if p.requested?
            = link_to 'Approve', approve_carpool_passenger_path(p), method: :put, class: 'btn btn-success'
            |
            = link_to 'Decline', decline_carpool_passenger_path(p), method: :put, class: 'btn btn-danger'
