.container-fluid
  .row
    .col-md-4
      %h3 Update Carpool
      .card
        .card-body
          = render 'form'
    .col-md-4
      = render 'carpool_actions'
    .col-md-4
      = render 'carpool_conversation'
