.container-fluid
  .row
    .col-1
    .col-10
      .container-fluid
        .row
          .col-9
            = render 'chapters/header', chapter: @chapter

            %h3 Carpools
            - if @carpools.any?
              = render 'carpools/carpools_table', carpools: @carpools
            - else
              %p No carpools registered yet

          .col-3
            = render 'users/chapter_members', chapter: @chapter
    .col-1
