.container-fluid
  .row
    .col-1
    .col-10
      .container-fluid
        .row
          .col-9
            = render 'chapters/header', chapter: @chapter

            - if @chapter.carpools.any?
              %h5 Latest Carpools (#{@chapter.carpools.latest.count})
              = render 'carpools/carpools_table', carpools: @chapter.carpools.latest

          .col-3
            = render 'users/chapter_members', chapter: @chapter
    .col-1
