.row
  .col-md-6
    .cv-box
      Curriculum Vitae
    .cv-name
      %h2 Marcelo Ribeiro
      %h5 Lead full-stack engineer
  .col-md-6
    .cv-short-description
      %strong
        Lead full-stack developer
      with experience delivering applications on web and mobile platforms.
      I led and helped teams build over
      %strong
        12 successful web projects
      and over
      %strong
        6 App Store published applications
      using technologies such as
      %strong
        Ruby on Rails, Javascript, Java, Spring Framework
      for the web and back-end, as well as
      %strong iOS and Android
      using
      %strong Swift, Objective-C, Java and Kotlin
