.container-fluid
  = render 'top_bar'
  .row
    .col-md-4.left-column
      = render 'left_column'
    .col-md-8
      %h4
        .fa.fa-chevron-right
        Quick Facts
      .header
      .container-fluid
        .row.experience
          .col-md-12
            %ul
              %li I love startups, having a bit of an entrepreneurial background myself
              %li I will work on green field code, and on legacy code.
              %li I can work with any experience level developers or teams.
              %li What matters the most to me are: 1. Launch, 2. Find market fit, 3. Code quality (in that order).
      %h4
        .fa.fa-chevron-right
        Experience
      .header
      .container-fluid
        .row.experience
          .col-md-12
            %p
              %strong Lead full-stack developer
              %br/
              Apr 2011 - Present
              %br/
              RubyThree LLC
            %ul
              %li
                RubyThree is my own company, from which I contract to several projects. I have been the director of technology and software development for 7 years.
              %li
                With RubyThree I developed applications in Ruby on Rails, Javascript, iOS native, Android native and Java Enterprise APIs / WebServices.
              %li
                Built entire client side applications using Javascript and EmberJS framework.
              %li
                Deployed applications to the cloud using capistrano, docker and background worker instances running Resque, Sidekiq
              %li
                I have also performed strong and deep devops operations, having dealt with AWS, OpenStack, Linux Environments, Load Balancers, Master/Slave MySQL environments and ElasticSearch. Worked with networks over 50 cloud instances, including redis clusters, elasticsearch clusters, solr servers, postgresql and backup engines.
              %li
                More detailed experience is described for each of the projects in the next page.
            %p
              %strong Achievements
            %ul
              %li Successfully managed the hand over of cross platform projects (Web, iOS, Android, JS)
              %li Successfully managed small and large teams (up to 25 developers).
              %li Successfully deployed 10+ web applications to production / live environments
              %li Successfully deployed 6+ iOS applications to the Apple Store
              %li Successfully deployed 4+ Android applications to Google Play
              %li Built from scratch and deployed an open source carpooling platform (github.com/marcelorocks/carpoolers-rails)
              %li Handled daily operations, server management, fire-fighting
        .row.experience
          .col-md-12
            %p
              %strong Head of Technology - Contractor
              %br/
              Sep 2015 - Jun 2018
              %br/
              CrystalCommerce
            %ul
              %li
                Helped build a complete suite of Ruby on Rails / EmberJS / BackboneJS apps
              %li
                Lead a team of 5 developers across FrontEnd, BackEnd and DevOps
              %li
                Managed over 50 cloud instances in OpenStack and Amazon EC2.
              %li
                Managed hundreds of e-commerce websites, point of sale, admin applications
              %li
                Lead the team to develop a fully featured, multi tenant marketplace
            %p
              %strong Achievements
            %ul
              %li Successfully deployed an ElasticSearch cluster from scratch
              %li Built a centralized data source with hundreds of millions of records
              %li Built an internal tool / control panel to manage 15+ resque workers from a GUI
              %li Developed / managed third party API integrations with Amazon and Ebay
        .row.experience
          .col-md-12
            %p
              %strong Technical Lead
              %br/
              Nov 2014 - Oct 2015
              %br/
              Calroo
            %ul
              %li
                Built a fully featured family based calendar for busy parents
              %li
                Managed a team of 5 developers across Rails, iOS, Android
              %li
                Deployed to EC2 behind a load balancer, master/slave MySQL setup,
            %p
              %strong Achievements
            %ul
              %li Successfully deployed API backend running Ruby on Rails
              %li Successfully deployed iOS and Android apps
              %li iOS App got featured by Apple numerous times. Reviews at 4.2 stars
              %li Avergae Android app customer review is 3.8 stars
        .row.experience
          .col-md-12
            %p
              %strong Technical Manager for Mobile/Web Applications
              %br/
              Apr 2012 - Jun 2015
              %br/
              GenieMD
            %ul
              %li
                Built GenieMD personal health tracker apps for both iOS and Android
              %li
                Built GenieMD entire web experience in EmberJS
              %li
                Managed a team of 4 developers across the described platforms.
            %p
              %strong Achievements
            %ul
              %li Successfully deployed to production environment fully featured EmberJS application
              %li Successfully deployed Android application with reviews at 4.5 stars
              %li Successfully deployed iOS application with reviews at 3.8 stars
